{% extends "base.html.twig" %}
{% block title %}
	Add a Document
{% endblock %}
{% block body %}

	<div class='container'>
		<h1>
			Add a new Document</h1>
		{{ form_start(form) }}


		<div class="form-group">
			{{form_label(form.name)}}
			{{form_widget(form.name)}}
			<div class="form-error">
				{{ form_errors(form.name) }}
			</div>
		</div>
		<div class="form-group">
			{{form_label(form.author)}}
			{{form_widget(form.author)}}
			<div class="form-error">
				{{ form_errors(form.author) }}
			</div>
		</div>
		<div class="form-group">
			{{form_label(form.year)}}
			{{form_widget(form.year)}}
			<div class="form-error">
				{{ form_errors(form.year) }}
			</div>
		</div>
		<div class="form-group">
			{{form_label(form.resume)}}
			{{form_widget(form.resume)}}
			<div class="form-error">
				{{ form_errors(form.resume) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_row(form.submit) }}</div>

		{{ form_end(form) }}</div>
{% endblock %}
